.UrbitIDCreated-main-container {
  background-color: #333331;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.UrbitIDCreated-text-container {
  padding-left: 298px;
  width: 550px;
  height: 248px;
  display: flex;
  padding: 31px 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
  border-radius: 24px;
  border: 1px solid var(--Borders-01, #2d2d2d);
  background: var(--background, #121212);
}

.UrbitIDCreated-text-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.9vh;
  padding-left: 298px;
}

/* .UrbitIDCreated-text-container{
    max-width: 500px;
    background-color: black;
} */

.UrbitIDCreated-main-heading {
  color: var(--fonts-icons-01, var(--text-01, #fffff5));
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.456px;
  padding: 8px;
}

.UrbitIDCreated-text {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));
  text-align: center;

  /* Onboarding/Body/Body L Reg 16 - 120% */
  /* font-family: Aeonik TRIAL; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.304px;
}

.UrbitIDCreated-button-container {
  width: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.UrbitIDCreated-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--Primary, #f4f85a);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .UrbitIDCreated-text-main-container {
    padding-left: 0px;
  }
}
