.Left-component-container {
  width: 80%;
  position: relative;
  margin: 0 auto;
  top: 1.5rem;
}

.left-container-banner {
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.left-container-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-container-profile-image {
  position: absolute;
  border-radius: 50%;
  width: 179px;
  height: 179px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container-heading {
  font-size: 40px;
  font-weight: 400;
  color: white;
}

.text-container {
  position: relative;
  top: 6.5rem;
  text-align: center;
  margin-top: 20px;
}

.text-line {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));
  text-align: center;
  font-family: Aeonik TRIAL;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.304px;
}

.button-leftComponent-row {
  position: relative;
  top: 56px;
  display: flex;
  justify-content: space-between;
}

.button1 {
  width: 48%;
  padding: 16px 24px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f4f85a;
  cursor: pointer;
  font-family: Aeonik TRIAL;
  font-size: 16px;

  font-weight: 700;
}
.button2 {
  width: 48%;
  padding: 16px 24px;
  border: 1px solid #f4f85a;
  border-radius: 16px;
  background-color: #1b1b17;
  cursor: pointer;
  color: #f4f85a;
  font-family: Aeonik TRIAL;
  font-size: 16px;

  font-weight: 700;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.copy-text-container {
  justify-content: center;
  background-image: linear-gradient(to right, #f4f85a, #cdcdcd);
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 8px 16px;
  margin-bottom: 24px;
  border-radius: 25px;
  width: 170px;
  margin-left: 50px;
}

.copy-text {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}

.right {
  display: flex;
}

.left-component-svgbackground {
  border-radius: 100px;
  background: var(--Card-fills-01, #121212);
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.leftcomponent-heaading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.left-container-banner-icon {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--Button-Primary, #f4f85a);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .left-container-profile-image {
    width: 139px;
    height: 139px;
  }
}

@media screen and (max-width: 900px) {
  .left-container-profile-image {
    width: 179px;
    height: 179px;
  }
}

@media screen and (max-width: 600px) {
  .left-container-heading {
    font-size: 24px;
  }

  .left-container-banner {
    height: 110px;
  }
  .left-container-profile-image {
    width: 109px;
    height: 109px;
  }
  .text-container {
    top: 2.5rem;
  }
  .copy-text {
    font-size: 14px;
  }
  .text-line {
    font-size: 14px;
  }
  .button1 {
    font-size: 14px;
  }
  .button2 {
    font-size: 14px;
  }
}
