.Subnames-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--Borders-01, #2d2d2d);
  padding: 8px 24px 8px 8px;
  margin-bottom: 10px;
  border-radius: 25px;
  width: auto;
}

.subnames-left {
  display: flex;
  align-items: center;
  margin-right: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  background: var(--Card-fills-01, #121212);
  overflow: hidden;
}

.subnames-right {
  margin-right: 0px;
  display: flex;
}

.icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.Subnames-text {
  flex-grow: 1;
  color: white;
}

.Subnames-heading {
  color: var(--fonts-icons-01, #fffff5);
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .Subnames-heading {
    font-size: 20px;
  }
}
