.backupSeedPhrase-main-comntainer {
  background: var(--background, #121212);
}

.backupSeedPhrase-side-ellipse {
  width: 335px;
  height: 376px;
  flex-shrink: 0;
  border-radius: 576px;
  opacity: 0.4;
  background: var(
    --Bg-gradients-primary,
    linear-gradient(180deg, #f4f85a 0%, #feffcf 100%)
  );
  filter: blur(100px);
  position: absolute;
  z-index: 0;
}

.backupSeedPhrase-text-container-wrapper {
  position: relative;
  /* top: -30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90.9vh;
  /* overflow-y: auto; */
  flex-direction: column;
  padding-left: 289px;
}

.backupSeedPhrase-main-heading {
  color: var(--fonts-icons-01, var(--text-01, #fffff5));
  text-align: center;
  /* font-family: Aeonik TRIAL; */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.8px;
  max-width: 640px;
  padding: 16px 0px;
}

.backupSeedPhraseToggleMainContainer {
  width: 640px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.backupSeedCopytext {
  color: var(--Button-Primary, var(--Primary, #f4f85a));
  /* font-family: Aeonik TRIAL; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.backupSeedPhrase-text {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));
  text-align: center;
  /* Onboarding/Body/Body L Reg 16 - 120% */
  /* font-family: Aeonik TRIAL; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.304px;
  max-width: 633px;
  padding-bottom: 24px;
}

.backupSeedPhrase-rightbottom-side-ellipse {
  position: absolute;
  width: 204px;
  height: 205px;
  flex-shrink: 0;
  fill: var(
    --Bg-gradients-primary,
    linear-gradient(180deg, #f4f85a 0%, #feffcf 100%)
  );
  opacity: 0.4;
  filter: blur(100px);
  right: 0px;
  bottom: 0px;
  background-color: #f4f85a;
}

.backupSeedPhrase-button {
  display: flex;
  width: 167px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--Primary, #f4f85a);
  color: var(--fonts-icons-inverse, var(--background, #121212));
  /* font-family: Aeonik TRIAL; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.304px;
  cursor: pointer;
}
.backupSeedPhraseToggle {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid var(--fonts-icons-01, #fffff5);
  cursor: pointer;
}
.backupSeedCopyContainer {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--Element-fills-active, #f4f85a);
}
@media screen and (max-width: 900px) {
  .backupSeedPhrase-text-container-wrapper {
    padding-left: 0px;
  }
}
