.collectibles-container {
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: auto; */
  height: 500px;
  overflow: auto;
  scrollbar-width: none;
  /* flex: 1 0 0; */
}

.collectibles-image-container {
  /* margin-right: 15px; */
  text-align: center;
  box-sizing: border-box;
  gap: 15px;
  display: flex;
  /* flex-direction: column; */
  border-radius: 24px;
  /* border: 1px solid var(--Borders-01, #2d2d2d); */
}

.collectibles-rounded-image {
  border-radius: 10px;
  width: 141px;
  height: 141px;
  flex: 1 0 0;
}
.collectableScrollImage {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 24px;
}

.collectableScrollBottomImage {
  width: 265.298px;
  height: 281.298px;
  border-radius: 22.579px;
}

.collectible-heading {
  /* margin-top: 32px;
  margin-bottom: 24px; */
  color: var(--fonts-icons-01, #fffff5);

  /* Onboarding/Titles/H2 Reg 24 - 120% */
  /* font-family: "Aeonik TRIAL"; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.456px;
}

.collectible-svg-background {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Button-Primary, #f4f85a);
  /* margin-top: 20px; */
}

.collectible-right {
  margin-left: auto;
  display: flex;
}

.collectibles-scroll-container {
  max-width: 99%;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  scrollbar-width: 100px;
  overflow-x: auto; /* enables horizontal scrolling */
  /* Add other styles as needed */
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .collectibles-rounded-image {
    border-radius: 10px;
    width: 56px;
    height: 56px;
    flex: 1 0 0;
  }

  .collectible-heading {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px; /* or any suitable width */
  height: 8px;
}

::-webkit-scrollbar-track {
  width: 3px;
  background: var(
    --Scrollbar-Track,
    #cccccc
  ); /* Define the track background color here */
  border-radius: 10px; /* Optional: if you want the track to have rounded corners */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Define your border-radius here */
  background: var(
    --Button-Primary,
    #f4f85a
  ); /* Ensure the variable is defined or fallback will be used */
}

/* For Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--Button-Primary, #f4f85a)
    var(--Scrollbar-Track, #1e1e1e);
} */
