.links-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--Borders-01, #2d2d2d);
  padding: 8px 24px 8px 8px;
  margin-bottom: 8px;
  border-radius: 25px;
  width: auto;
}

.links-left {
  display: flex;
  align-items: center;
  margin-right: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  object-fit: cover;
  background: var(--Card-fills-01, #121212);
  overflow: hidden;
}
.links-right {
  margin-left: auto;
}

.link-icon1 {
  margin-top: 5px;
  margin-left: 5px;
}

.links-text {
  flex-grow: 1;
  color: white;
}

.links-heading {
  color: var(--fonts-icons-01, #fffff5);
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .links-heading {
    font-size: 20px;
  }
}
