.onBording-page-main-container {
  display: flex;
  background-color: #121212;
  height: 100vh;
}

.onBording-page-left-container {
  width: 50%;
}

#onBording-page-heading {
  color: var(--fonts-icons-01, var(--text-01, #fffff5));

  /* Onboarding/Titles/H1 Reg 40 - 120% */
  /* font-family: "Aeonik TRIAL"; */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  letter-spacing: -0.8px;
}

#onBording-page-text {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));

  /* Onboarding/Body/Body L Reg 16 - 120% */
  /* font-family: "Aeonik TRIAL"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.304px;
}

#onBording-page-underline-text {
  color: white;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 16px;
  cursor: pointer;
}

#onBording-page-button {
  padding: 12px 24px;
  background-color: #f4f85a;
  border-radius: 16px;
  border: none;
  margin-top: 56px;
  cursor: pointer;
  /* Onboarding/Body/Body L Bold 16 - 120% */
  /* font-family: "Aeonik TRIAL"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.304px;
}

.onbording-Ellipses {
  width: 321px;
  height: 209px;
  flex-shrink: 0;
  border-radius: 321px;
  background: var(
    --Bg-gradients-primary,
    linear-gradient(180deg, #f4f85a 0%, #feffcf 100%)
  );
  filter: blur(100px);
  position: absolute;
  bottom: -180px;
}

.onBording-page-left-image {
  width: 100%;
  height: 99vh;
}

.onBording-page-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  overflow: hidden;
}

.onBording-page-left-container-bottom-style {
  position: absolute;
  top: 0px;
  /* width: 717px;
  height: 717px; */
  transform: rotate(90deg);
  /* fill: rgba(255, 255, 255, 0.01); */
  stroke-width: 1px;
  stroke: #fff;
  /* backdrop-filter: blur(32px); */
}

@media screen and (max-width: 900px) {
  .onBording-page-main-container {
    flex-direction: column;
  }

  .onBording-page-left-container {
    width: 100%;
  }
  .onBording-page-left-image {
    width: 100%;
    height: 50vh;
  }
  .onBording-page-right-container {
    padding-top: 30px;
    width: 100%;
    height: inherit;
  }
}

@media screen and (max-width: 600px) {
  .onBording-page-main-container {
    flex-direction: column;
    height: 100vh;
  }
  .onBording-page-left-container {
    width: 100%;
  }
  .onBording-page-left-image {
    width: 100%;
    height: 40vh;
  }
  .onBording-page-right-container {
    padding-top: 30px;
    width: 100%;
  }
  #onBording-page-heading {
    color: var(--fonts-icons-01, var(--text-01, #fffff5));

    /* Onboarding/Titles/H1 Reg 40 - 120% */
    font-family: "Aeonik TRIAL";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 48px */
    letter-spacing: -0.8px;
  }

  #onBording-page-text {
    /* color: var(--fonts-icons-02, var(--text-02, #a3a393)); */
    color: #f4f85a;

    /* Onboarding/Body/Body L Reg 16 - 120% */
    font-family: "Aeonik TRIAL";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.304px;
  }

  #onBording-page-underline-text {
    color: white;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 12px;
    cursor: pointer;
  }

  #onBording-page-button {
    font-size: 12px;
  }
}
