.owner-container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 10px;
  border-radius: 25px;
  width: fit-content;
  margin-right: 10px;
  background-color: #3d3d3d;
}

.owner-main-container {
  display: flex;
  flex-wrap: wrap;
}

.owner-text {
  padding: 0px 10px;
  color: white;
  font-size: 20px;
}

.owner-heading {
  color: var(--fonts-icons-01, #fffff5);
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .owner-heading {
    font-size: 20px;
  }
}
