.Urbit-Domain-container {
  background-color: #1b1b17;
  height: fit-content;
  display: flex;
  font-size: 20px;
}

.urbitDomainleftcontainer {
  display: flex;
  width: 40%;
  height: 100vh;
}

.urbitDomainRightcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px;
}

@media screen and (max-width: 900px) {
  .Urbit-Domain-container {
    background-color: #1b1b17;
    height: fit-content;
    display: flex;
    font-size: 20px;

    flex-wrap: wrap;
  }

  .urbitDomainleftcontainer {
    display: flex;
    width: 100%;
    height: 675px;
  }
}

@media screen and (max-width: 600px) {
  .Urbit-Domain-container {
    font-size: 14px;
  }
  .urbitDomainleftcontainer {
    display: flex;
    width: 100%;
    height: 500px;
  }
}
