<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Example</title>
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="/component/ManageCertificate/ManageCertificate.css"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebarContent">
          <div>
            <img
              width="80px"
              height="15.1px"
              src="/assets/musterlogwithtext.svg"
              alt="logo"
            />
          </div>
          <div style="width: inherit">
            <div  style="padding-left: 12px; padding-bottom: 16px; font-size: 10px;font-weight: 500;color: rgba(255, 255, 255, 0.50);"S>MAIN</div>
            <div style="width: inherit; display: flex; flex-direction: column">
              <button
                class="dropdown-btn"
                onclick="toggleDropdown('dropdown1')"
              >
                <div style="display: flex; gap: 8px; align-items: center">
                  <img
                    style="padding: 2px"
                    src="/assets/settingIcon.svg"
                    alt="settingIcon"
                  />
                  Settings
                </div>
                <img src="/assets/dropdown.svg" alt="dro" />
              </button>
              <div class="dropdown-container" id="dropdown1">
                <a href="/index.html">Child 1.1</a>
                <a href="#">Child 1.2</a>
                <a href="#" onclick="">Child 1.3</a>
              </div>
            </div>

            <div style="width: inherit; display: flex; flex-direction: column">
              <button
                class="dropdown-btn"
                onclick="toggleDropdown('dropdown2')"
              >
                <div style="display: flex; gap: 8px; align-items: center">
                  <img
                    width="20"
                    height="20"
                    src="/assets/userunfilled.svg"
                    alt="settingIcon"
                  />
                  History
                </div>
                <img src="/assets/dropdown.svg" alt="dro" />
              </button>
              <div class="dropdown-container" id="dropdown2">
                <a href="#"
                  >Child 2.1</a
                >
                <a href="#">Child 2.2</a>
                <a href="#">Child 2.3</a>
              </div>
            </div>
          </div>

          <div class="divider"></div>

          <div style="width: inherit; display: flex; flex-direction: column">
            <div  style="padding-left: 12px; padding-bottom: 16px; font-size: 10px;font-weight: 500;color: rgba(255, 255, 255, 0.50);">ACCOUNT</div>
            <button class="dropdown-btn" onclick="toggleDropdown('dropdown3')">
              <div style="display: flex; gap: 8px; align-items: center">
                <img
                  width="24"
                  height="24"
                  src="/assets/userFilled.svg"
                  alt="settingIcon"
                />
                My urbit ID
              </div>
              <img src="/assets/dropdown.svg" alt="dro" />
            </button>
            <div class="dropdown-container" id="dropdown3">
              <a href="#">Child 3.2</a>
              <a href="#">Child 3.3</a>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          /* justify-content: center; */
          padding-top: 50px;
          align-items: center;
          flex-direction: column;
          height: 100%;
          /* gap: 40px; */
        "
        id="setDocument"
      >
        <div style="display: flex; padding-bottom: 50px;">
        <div class="manageCrtificateBackIcon">
          <img src="/assets/backArrow.svg" alt="setting" />
        </div>
        <div class="trust-store-heading" style="position: relative">
          Manage Certificates
        </div>
      </div>
      <!-- <h1 style="color: aliceblue">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
          voluptate laboriosam eveniet, commodi accusamus sed, exercitationem
          pariatur nemo nulla accusantium officiis dolorem perspiciatis,
          voluptatibus possimus? Dolores autem officia ipsum tempore!
        </h1>
      </div> -->
      <!-- <div class="bottom-style-index"></div> -->
    </div>
    <script src="ManageCertificate.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
