.trust-store-heading {
  color: aliceblue;
}
.trustStoreBackIcon {
  position: absolute;
  /* left: 25%;
  top: 14%;*/
  left: 26%;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1.333px solid var(--Borders-01, #2d2d2d);
  background: var(--Card-fills-02, #1e1e1e);
}
.trustContentHeading {
  color: var(--fonts-icons-01, #fffff5);
  /* font-family: "Aeonik TRIAL"; */
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.64px;
}
.trustContentText {
  color: var(--fonts-icons-02, #a3a393);

  /* Onboarding/Titles/H2 Reg 24 - 120% */
  /* font-family: "Aeonik TRIAL"; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.456px;
}
.trust-store-box {
  display: flex;
  width: 728px;
  padding: 24px 32px;
  /* align-items: center; */
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--fill-2, #2d2d2d);
  justify-content: space-between;
  background-color: none;
  cursor: pointer;
}

.trust-store-box:hover {
  background-color: #1e1e1e;
  /* Change 'blue' to your desired hover color, or use a custom property like below */
  /* If you have a custom property for the hover color, you can use it as follows: */
  /* border: 1px solid var(--hover-border-color, #yourDefaultColor); */
}
