<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/component/TrustStore/TrustStore.css" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        /* gap: 40px; */
      "
    >
      <div style="display: flex; flex-direction: column; gap: 60px">
        <div class="trustStoreBackIcon">
          <img src="/assets/backArrow.svg" alt="setting" />
        </div>
        <div class="trust-store-heading" style="position: relative">
          Trust store
        </div>
        <div style="display: flex; flex-direction: column; gap: 24px">
          <div
            class="trust-store-box"
            onclick="loadContent('/Setting/component/TrustStore/TrustStore')"
          >
            <div style="display: flex; flex-direction: column">
              <div class="trustContentHeading">Manage certificates</div>
              <div class="trustContentText">
                Control your computer's certificates in one place.
              </div>
            </div>
            <div style="display: flex; align-items: center">
              <img src="/assets/dropdown.svg" alt="dropdown" />
            </div>
          </div>
          <div class="trust-store-box">
            <div style="display: flex; flex-direction: column">
              <div class="trustContentHeading">Manage certificates</div>
              <div class="trustContentText">
                Control your computer's certificates in one place.
              </div>
            </div>
            <div style="display: flex; align-items: center">
              <img src="/assets/dropdown.svg" alt="dropdown" />
            </div>
          </div>
          <div class="trust-store-box">
            <div style="display: flex; flex-direction: column">
              <div class="trustContentHeading">Manage certificates</div>
              <div class="trustContentText">
                Control your computer's certificates in one place.
              </div>
            </div>
            <div style="display: flex; align-items: center">
              <img src="/assets/dropdown.svg" alt="dropdown" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
