.setupwallet-main-comntainer {
  height: 100vh;
  background: var(--background, #121212);
}

.setupwallet-side-ellipse {
  width: 335px;
  height: 376px;
  flex-shrink: 0;
  border-radius: 576px;
  opacity: 0.4;
  background: var(
    --Bg-gradients-primary,
    linear-gradient(180deg, #f4f85a 0%, #feffcf 100%)
  );
  filter: blur(100px);
  position: absolute;
  z-index: 0;
}

.setupwallet-text-container-wrapper {
  position: relative;
  /* top: -30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60.9vh;
  flex-direction: column;
  padding-left: 289px;
}

.setupwallet-main-heading {
  color: var(--fonts-icons-01, var(--text-01, #fffff5));
  text-align: center;

  /* Onboarding/Titles/H1 Reg 40 - 120% */
  /* font-family: Aeonik TRIAL; */
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
  letter-spacing: -0.8px;
  max-width: 512px;
  padding: 24px 0px 16px 0px;
}
.setupwallet-text {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));
  text-align: center;

  /* Onboarding/Body/Body L Reg 16 - 120% */
  /* font-family: Aeonik TRIAL; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.304px;
  max-width: 591px;
  padding-bottom: 40px;
}

.setupwallet-data-container {
  display: flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Borders-01, #2d2d2d);
  cursor: pointer;
}

.setupwallet-data-container-heading {
  color: var(--fonts-icons-01, var(--text-01, #fffff5));
  /* text-align: center; */
  /* font-family: Aeonik TRIAL; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.456px;
}
.setupwallet-data-container-about {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));
  /* font-family: Aeonik TRIAL; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.228px;
  max-width: 210px;
}

.setupwallet-data-container-about2 {
  color: var(--fonts-icons-02, var(--text-02, #a3a393));
  /* font-family: Aeonik TRIAL; */
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.228px;
  max-width: 210px;
}

.setupwallet-rightbottom-side-ellipse {
  position: absolute;
  width: 204px;
  height: 205px;
  flex-shrink: 0;
  fill: var(
    --Bg-gradients-primary,
    linear-gradient(180deg, #f4f85a 0%, #feffcf 100%)
  );
  opacity: 0.4;
  filter: blur(100px);
  right: 0px;
  bottom: 0px;
  background-color: #f4f85a;
}

@media screen and (max-width: 900px) {
  .setupwallet-text-container-wrapper {
    padding-left: 0px;
  }
}
